{% extends 'app/base.html' %}

{% load static %}

{% block title %}Dictionary{% endblock title %}

{% block main-content %}
<br><br><br><br><br><br>
<section class="text-center container">
    <h2>Your Dictionnary</h2>
    <p>You can enter any word to get the phonetics, definition and an example for the word</p>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit" class="btn btn-success">
    </form><br>
    <div class="content-section p-0 mt-5">
        {% if input %}
            <div class="custom-header">
                <h2>{{input}}</h2>
                <h6>{{phonetics}}</h6>
                <audio src="{{audio}}" id="player"></audio>
                <div>
                    <a onclick = "document.getElementById('player').play()">
                        <i class="fa fa-volume-up fa-2x">
                    </a>
                </div>
            </div>
            <hr class="p-0 m-0">
            <p class="float-left">
                <h4>Definition: {{definition}}</h4>
                <h4>Example: {{example}}</h4>
            </p>
            Synonyms:
            {% for synonym  in Synonyms %}
                {{synonym}}
            {% endfor %}
            <hr>
        {% else %}
        <h2>Sorry,API requests limit exceeded</h2>
        {% endif %}
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock main-content %}