{% extends 'app/base.html' %}

{% load static %}

{% block title %}Wikipedia{% endblock title %}

{% block main-content %}
<br><br><br><br><br><br>
<section class="text-center container">
    <h2>You can also search articles from Wikipedia</h2>
    <p>You can enter the search querry to obtain</p><b>Enter without any space</b>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit" class="btn btn-info">
    </form><br>
    <div class="container">
        <div class="content-section p-0 mt-5">
            <a href ="" class="p-0 m-0" target="_blank">
                <div class="custom-header">
                    <h2>{{title}}</h2>{{title}}
                    <h6>{{link}}</h6>
                </div>
            </a>
            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
               {{ details}}
            </p>
            <hr>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock main-content %}